
data/Aele_transcriptome_v1.fasta
data/Aele_transcriptome_v1.fasta.nhr
data/Aele_transcriptome_v1.fasta.nin
data/Aele_transcriptome_v1.fasta.nog
data/Aele_transcriptome_v1.fasta.nsd
data/Aele_transcriptome_v1.fasta.nsi
data/Aele_transcriptome_v1.fasta.nsq
data/wtdbg2_genome/Ae.ctg.lay.fa
data/wtdbg2_genome/Ae.ctg.lay.fa.amb
data/wtdbg2_genome/Ae.ctg.lay.fa.ann
data/wtdbg2_genome/Ae.ctg.lay.fa.bwt
data/wtdbg2_genome/Ae.ctg.lay.fa.fai
data/wtdbg2_genome/Ae.ctg.lay.fa.pac
data/wtdbg2_genome/Ae.ctg.lay.fa.sa
analyses/sym_seqs_map.sam
data/aiptasia_genome.gff3
data/aiptasia_genome.mRNA.fa
data/aiptasia_genome.scaffolds.fa
data/aiptasia_genome.annot.tsv
data/aiptasia.embl
data/embl/aiptasia.embl
analyses/Ae.ctg.lay.part-1.fa
analyses/Ae.ctg.lay.part-2.fa
analyses/Ae.ctg.lay.part-3.fa
analyses/Ae.ctg.lay.part-4.fa
