
data/Aele_transcriptome_v1.fasta
data/Aele_transcriptome_v1.fasta.nhr
data/Aele_transcriptome_v1.fasta.nin
data/Aele_transcriptome_v1.fasta.nog
data/Aele_transcriptome_v1.fasta.nsd
data/Aele_transcriptome_v1.fasta.nsi
data/Aele_transcriptome_v1.fasta.nsq
